/* CSS for multiplication table */

body {
	text-align: center;
	font-family: Arial, sans-serif;
}

#table-container {
	margin-top: 20px;
	overflow-x: auto;	/*for responsiveness*/
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	min-width: 300px;
}

td {
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
}

/* for checkerboard pattern */
td:nth-child(even) {
	background-color: teal;
}

tr:nth-child(even) td:nth-child(odd) {
	background-color: teal;
}

tr:nth-child(odd) td:nth-child(even) {
	background-color: teal;
}

@keyframes colorShift {
	0% { background-color: teal; }
	50% { background-color: maroon; }
	100% { background-color: teal; }
}

td {
	animation: colorShift 6s infinite;
}

/* adds animation to initial photo displayed on website/page */
.image-container {
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	background: linear-gradient(270deg, red, blue, green, purple);
	background-size: 600% 600%;
	animation: borderMove 6s ease infinite;
}

.image-container img {
	display: block;
	border-radius: 10px;
	/* width: 250px; */
}

@keyframes borderMove {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}