/* CSS for multiplication table */

body {
	text-align: center;
	font-family: Arial, sans-serif;
}

#table-container {
	margin-top: 20px;
	overflow-x: auto;	/*for responsiveness*/
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	min-width: 300px;
	table-layout: fixed;	/* prevents input box from expanding squares in row/ maintains equal sizing of boxes within table */
}

td input {
	/*makes sure the user input fits within input box rather than expanding it*/
	width: 90%;
	height: 90%;
	box-sizing: border-box;
	text-align: center;
}

td {
	width: 50px;
	height: 50px;
	text-align: center;
	border: 1px solid black;
	vertical-align: middle;		/*centers content vertically*/
}	

/*creates illusion of flickering checkered pattern*/
/* group 1 */
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) 
{
	animation: colorShift1 6s infinite;
}
/* group 2 */
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) 
{
	animation: colorShift2 6s infinite;
}
@keyframes colorShift1 {
	0% { background-color: teal; }
	50% { background-color: maroon; }
	100% { background-color: teal; }
}
@keyframes colorShift2 {
	0% { background-color: maroon; }
	50% { background-color: teal; }
	100% { background-color: maroon; }
}


/* adds animation to border of initial photo displayed on website/page */
.image-container {
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	background: linear-gradient(270deg, red, blue, green, purple);
	background-size: 600% 600%;
	animation: borderMove 6s ease infinite;
}

.image-container img {
	display: block;
	border-radius: 10px;
	/* width: 250px; */
}

@keyframes borderMove {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}